.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
}

.header {
  padding: 10px;
  background-color: #14151f;
  min-height: 20px;
  color: white;
}

.brand {
  text-align: left;
  font-size: calc(10px + 4vmin);
  color: #7e49e6;
}

nav {
  color: #54964f;
  text-decoration: none;
}
